* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  height: 70vh;
  margin-bottom: 10%;
}

.card-container {
  gap: 10%;
  margin-right: 5%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 50vh;
  background-color: #f5be9ed3;
  border-radius: 50px;
  box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  position: relative;
}

.servicos-titulo {
  color: #ff9564;
  font-size: 3rem;
  margin-top: -50px; /* Subir o título */
  width: 60%;
  margin-right: 5%;
  text-align: center;
  border-radius: 80px; /* Cantos arredondados */
  background-color: #ffc99cbb;
  color: #ff956b;
}

.card:hover {
  height: 400px;
}

.card .img-box {
  position: absolute;
  width: 250px;
  height: auto;
  top: 0;
  transition: 0.5s;
}

.card:hover .img-box {
  top: -100px;
  transform: scale(0.75);
}

.card .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: absolute;
  top: 250px;
  width: 100%;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  align-items: center;
}

.card:hover .content {
  top: 130px;
  height: 250px;
}

.card-btn {
  background: #963c07;
  padding: 12px;
  color: #fff;
  width: 20vh;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
}

.img-box {
  position: relative;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.973);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #b96520;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  line-height: 1.6;
}

.img-box:hover .content-overlay {
  opacity: 1;
}

.card .img-box {
  width: 100%;
  height: 100%;
}

.card .img-box img {
  object-fit: cover;
  border-radius: 50px;
}

.content-overlay {
  border-radius: 50px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-btn {
  margin-top: 20px;
  background-color: #466151;
}

.subtitulo-card {
  background-color: #f09174;
  color: #ece7f0;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  width: 80%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.card:hover .subtitulo-card {
  opacity: 0;
}

/* Media Query para telas menores */
@media (max-width: 770px) {
  #servicos {
      padding: 10px;
  }

  .servicos-titulo {
      font-size: 3rem; /* Reduzindo o tamanho da fonte para telas pequenas */
      padding: 0% 20%;
      margin: auto;
      border-radius: 80px; /* Cantos arredondados */
      background-color: #ffc49cbb;
      color: #e4865b;
  }

  .subtitulo-card {
    margin: 0 auto; /* Centraliza horizontalmente */
    position: relative; /* Torna o subtítulo posicionável */
    top: -150px; /* Move o subtítulo para cima */
    color: #fff; /* Cor do texto */
    border-radius: 10px; /* Cantos arredondados */
    text-align: center; /* Centraliza o texto */
    width: fit-content; /* Ajusta largura ao conteúdo */
 }
 
 .card {
     width: 40vw; /* Reduz a largura do card */
     height: 30vw; /* Altura ajustável */
     font-size: 0.9rem; 
     left: 5%;
     margin: 150px auto; /* Adiciona espaçamento abaixo do subtítulo */
     border-radius: 20px;
     position: relative; /* Permite posicionamento dos elementos internos */
 }
 

  .content-overlay{
    border-radius: 50px;
    top: 0;
    width: auto;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .card-container {
      flex-direction: row; /* Coloca os cards em uma coluna para melhor visualização */
      padding-top: 2%;
      display: flex;
  
  }

   .card-btn {
    
  }

}