* {
    box-sizing: border-box;
    margin: 0;
    padding-top: 0%;
  }
  
  #home {
    display: flex;
    position: relative;
    padding-top: 10%;

  }
  
  #cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20%;
  }
  
  #cta .title {
    margin-right: 20%;
    font-size: 5.5rem;
    color: #799471d0;
    margin-bottom: 5rem;
  }
  
  #cta .title span {
    padding-top: 10%;
    color: #e9a455;
  }
  
  
  #cta .description {
   margin-right: 20%;
    font-size: 30px;
    color: #5b7541d0;
  }
  
  #banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
  }
  
  #home-btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  
   .display {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    gap: 30px;
    margin-right: 20%;
    
    }


   
  .wpp-icon {
    align-items: center;
    justify-content: center;
    color: rgb(158, 211, 151);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .wpp-icon:hover {
    color: #3c702d;
    transform: scale(1.05);
  }
  
  .wpp-icon:active {
    transform: scale(0.98);
  }
  
  .wpp-icon {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    font-size: 90px;
  }
  

  .banner-img {
    width: 60%;
    height: 80vh;
    position: absolute;
  
    right: 0;
    z-index: 1;
    top: 5%;
  }
  
  /* Responsivo para monitor 24 polegadas */
  @media screen and (max-width:1620px) {
    #home {
      padding-top: 10%;
    }
  
    #cta .title {
      font-size: 5rem;
    }
  
    #cta .description {
      font-size: 45px;
    }
  
    .banner-img {
      width: 0%;
      height: 60%;
      top: 8%;
      padding-left: 35%;
    }
  }
  /* _________________________________________ */
  /* Responsivo para tablets */
  @media screen and (max-width: 770px) {
    #home {
      padding-top: 20%;
      padding-left: 20%;
    }
  
    #cta .title {
      font-size: 4.5rem;
    }
  
    #cta .description {
      font-size: 1.6rem;
      margin-top: -10%;
    }

    .display {
      margin-top: 10%;
      margin-left: 10%;

     
    }
  
  }
  
  /* Responsivo para celular pequeno */
  @media screen and (max-width: 450px) {
   
    #home {
      padding-top: 25%;
      padding-left: 25%;
    }
    #cta .title {
      font-size: 4rem;
    }
  
    #cta .description {
      font-size: 25px;
    }
  }