* {
    box-sizing: border-box;
    margin: 0;
    padding-top: 0%;
  }
  
  #home {
    display: flex;
    position: relative;
    padding-top: 10%;
  }
  
  #cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20%;
  }
  
  #cta .title {
    font-size: 5.5rem;
    color: #799471d0;
    margin-bottom: 5rem;
  }
  
  #cta .title span {
    padding-top: 10%;
    color: #e9a455;
  }
  
  
  #cta .description {
    margin-right: 0%;
    font-size: 30px;
    color: #799471d0;
  }
  
  #banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
  }
  
  .home-btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .banner-img {
    width: 60%;
    height: 80vh;
    position: absolute;
  
    right: 0;
    z-index: 1;
    top: 5%;
  }
  
  /* Responsivo para monitor 24 polegadas */
  @media screen and (max-width:1620px) {
    #home {
      padding-top: 10%;
    }
  
    #cta .title {
      font-size: 5rem;
    }
  
    #cta .description {
      font-size: 45px;
    }
  
    .banner-img {
      width: 0%;
      height: 60%;
      top: 8%;
      padding-left: 35%;
    }
  }
  /* _________________________________________ */
  /* Responsivo para tablets */
  @media screen and (max-width: 768px) {
    #home {
      padding-top: 20%;
      padding-left: 20%;
    }
  
    #cta .title {
      font-size: 5rem;
    }
  
    #cta .description {
      font-size: 30px;
    }
  
  }
  
  /* Responsivo para celular pequeno */
  @media screen and (max-width: 450px) {
   
    #home {
      padding-top: 25%;
      padding-left: 25%;
    }
    #cta .title {
      font-size: 4rem;
    }
  
    #cta .description {
      font-size: 25px;
    }
  }